<!DOCTYPE html>
<html>
<head>
	<title>Criar Conta</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h2 class="text-center">Criar Conta</h2></div>
				<div class="panel-body">
					<% if flash[:mensagem] != nil %>
						<div class="alert alert-danger">
							<%=flash[:mensagem]%>	
						</div>
					<% end %>
					<div class="container-fluid">
						<form method="post" action="/criarConta">
							<div class="form-group row">
								<label for="nome" class="form-label">Nome: </label>
								<input type="text" class="form-control" name="nome" id="nome" required>
							</div>
							<div class="form-group row">
								<label for="dataDeNascimento" class="form-label">Data de Nascimento: </label>
								<input type="date" class="form-control" name="dataDeNascimento" id="dataDeNascimento" required>
							</div>
							<div class="form-group row">
								<label for="email" class="form-label">Email: </label>
								<input type="text" class="form-control" name="email" id="email" required>
							</div>
							<div class="form-group row">
								<label for="login" class="form-label">Login: </label>
								<input type="text" class="form-control" name="login" id="login" required>
							</div>
							<div class="form-group row">
								<label for="senha" class="form-label">Senha: </label>
								<input type="password" class="form-control" name="senha" id="senha" required>
							</div>
							<div class="form-group row">
								<label for="senha2" class="form-label">Digite a senha novamente: </label>
								<input type="password" class="form-control" name="senha2" id="senha2" required>
							</div>
							<div class="form-group row">
								<input type="submit" value="Criar Conta" class="form-control">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<h1>Criar Conta</h1>
	<h3><%=flash[:mensagem]%></h3>
	<form method="post" action="/criarConta">
		<label for="nome">Nome: </label>
		<input type="text" name="nome" id="nome">
		<br>
		<label for="dataDeNascimento">Data de Nascimento: </label>
		<input type="date" name="dataDeNascimento" id="dataDeNascimento">
		<br>
		<label for="email">Email: </label>
		<input type="text" name="email" id="email">
		<br>
		<label for="login">Login: </label>
		<input type="text" name="login" id="login">
		<br>
		<label for="senha">Senha: </label>
		<input type="password" name="senha" id="senha">
		<br>
		<input type="submit" value="Criar Conta">
	</form>
	-->
</body>
</html>