<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Menu Administrador</h1>
	<h4><%=flash[:mensagem]%></h4>
	<table>
		<tr>
			<td><a href="/admin/listarUsuarios">Listar Usuários</a></td>
		</tr>
		<tr>
			<td><a href="/logged/listar/filmes">Listar Filmes</a></td>
		</tr>
		<tr>
			<td><a href="/logged/listar/series">Listar Series</a></td>
		</tr>
		<tr>
			<td><a href="/admin/cadastrarCritico">Cadastrar Crítico</a></td>
		</tr>
		<tr>
			<td><a href="/admin/cadastrarShow">Cadastrar Show</a></td>
		</tr>
	</table>
</body>
</html>